.footnote {
  text-align: center;
  font-size: 15px;
  margin-top: 75px;
  color: rgb(75,75,75);
}

body {
  margin: 0;
  background-color: rgba(85,85,85,0.05);
}

.title {
  color: rgb(85,85,85);
  font-size: 40px;
  text-align: center;
}

.subtitle{
  color: rgb(85,85,85);
  font-size: 30px;
  padding: 20px;
  margin: 0px;
}

.plain-text{
  color: rgb(75,75,75);
  font-size: 20px;
  padding: 20px;
  margin: 0px;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: rgb(85,85,85);
}

.navbar a {
  float: left;
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 15px;
  color: white;
}

.dropdown {
  overflow: hidden;
  float: left;
}

.dropdown .dropdown-button{
  font-size: 16px;
  border: none;
  outline: none;
  padding: 15px 15px;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropdown-button{
  background-color: rgb(120, 120,120);
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgb(85,85,85);
}

.dropdown-content a{
  float: none;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown:hover .dropdown-content{
  display: block;
}  

th, a{
  color: rgb(75,75,75);
  font-size: 18px;
  padding: 10px;
  margin: 0px;
}

td, th{
  border-top: 1px solid rgb(75,75,75);
  border-bottom: 1px solid rgb(75,75,75);
  text-align: center;
}

td{
  text-align: center;
}


table{
  border-collapse: collapse;
  width: 100%;
}

a{
  text-align: center;
  text-decoration: none;
}

.extra-links ul{
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.extra-links p{
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 10px;
}

.extra-links li, .extra-links p{
  color: rgb(75,75,75);
  font-size: 18px;
}

.resources p{
  color: rgb(75,75,75);
  font-size: 20px;
  padding: 20px;
  margin: 0px;
}

.resources li{
  color: rgb(75,75,75);
  font-size: 20px;
}

.resources ul{
  list-style-type: none;
}

.resources a{
  text-decoration: underline;
}
  




  
