/* Simple CSS */

body{
  background-color: white;
}

#title {
  height: 100px;
  line-height: 40px;
  text-align: center;
  border-radius: 25px;
  background-color: #F8E72C;
  color: black;
}

.topic-name{
  height: 50px;
  line-height: 50px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 25px;
  background-color: #F8E72C;
}

.subtopic-name{
  width: 900px;
  text-align: center;
  border-radius: 25px;
  background-color: #F8E72C;
}

.line-division{
  border: 2px solid #F8E72C;
  border-radius: 2px;
}

.footnote {
  text-align: center;
  font-size: 15px;
  padding-top: 50px;
}
